/**** table ****/
table {
  width: 90%;
  max-width: 525px;
  margin: 0px auto;
  border-collapse: collapse;
  
  box-shadow: 0px 0px 0px 1px green;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
table td {
  /* height: 32px; */
  background: #fff;
  border-bottom: 1px solid #e8e6da;
  padding: 8px;
}


/**** table playlist ****/
.playlist td:first-child {
  width: 100px;
}
.playlist thead td.artist {
  background-color: #b9ccfa;
  font-size: 110%;
  padding: 12px 8px;
  padding-bottom: 12px;
}

/**** header ****/
header {
  padding: 12px 0;
  padding-top: 24px;
  border-bottom: 1px solid #ededed;
  text-align: center;
}
#logo {
  width: 60%;
  max-width: 384px;
}

/**** search ****/
.search {
  position: relative;
  padding-top: 8px;
}
.search input {
  width: 90%;
  max-width: 525px;
  font-size: 16px;
  /*height: 25px;*/
  /*padding-right: 50px;*/
}

.search > .suggestion {
  position: absolute;
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px green;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  
  width: 90%;
  max-width: 525px;
  top: 125%;
  left:0;
  right:0;
  margin: 0px auto;
  margin-bottom: 60px;
}
.search > .suggestion > .item {
  padding: 8px;
  cursor: pointer;
  text-align: left;
}
.search > .suggestion > .item:hover {
  background: #55acee;
  color: white;
}
.search > .suggestion > .item + .item{
  border-top: 1px solid #ccd6dd;
}

/**** search-song-item ****/
.search > .suggestion > .item > img {
  vertical-align: middle;
  height: 14px;
  margin-right: 8px;
}
.search > .suggestion > .item > .artist {
  color: #999;
  font-size: 90%;
  font-style: italic;
  float: right;
}
.search > .suggestion > .item > .song-id {
  color: #999;
  font-size: 90%;
  font-style: italic;
}
.search > .suggestion > .item:hover > .song-id {
  color: white;
}

/**** song-list ****/
body {
  margin: 0;
  margin-bottom: 60px;
  background-color: #f5f5f5;
  min-height: 800px;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: #aaa;
  width: 100%;
  height: 42px;
  padding: 3px;
  
  text-align: center;
}
.fade {
  opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}

/**** clearable ****/
.clearable{
  background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  /*padding: 3px 18px 3px 4px;*/
  padding: 9px 4px 9px 4px;
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; }

/**** spinner ****/
.spinner {
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
  
  margin: 100px auto 0;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}